//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.btn,
a:visited {
	display: inline-flex;
	flex: 0 0 auto;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	width: auto;
	@include adaptiv-value(min-height, 50, 40, 1);
	@include adaptiv-value(padding-left, 25, 15, 3);
	@include adaptiv-value(padding-right, 25, 15, 3);
	transition: all 0.5s ease;
	&:hover {
		transition: all 0.5s ease;
	}
	@media (max-width: $md5) {
		width: 100%;
	}
}

.btn_primary,
.btn_primary:visited {

	font-weight: 700;
	// @include adaptiv-value(font-size, 17, 15, 1);
	// @include adaptiv-value(line-height, 24, 20, 1);
	&:hover{
		
	}
}

.btn_secondary,
.btn_secondary:visited {
	//background-color: $navc1;
	border-radius: 7px;
	color: $tc1;
	font-weight: 900;
	@include adaptiv-value(font-size, 17, 15, 1);
	@include adaptiv-value(line-height, 24, 20, 1);
	&:hover {
		//color: $tc2;
		//background-color: $navc1;
	}
}
