//----------------------------------------------HOME---------------------------------------------



// ---------------------hero section
.hero {
	&__content {
		display: flex;
		align-items: center;
	}

	&__offer {
		padding: 40px 10%;
		box-sizing: content-box;
		text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
		@media (max-width: $md4) {
			padding: 40px 5%;
		}
	}

	&__title {
		// styles in textstyles.scss
	}

	&__skills {
		font-weight: 400;
		font-size: rem(20);
		letter-spacing: 3.3px;
		margin: 0px 0px 35px 0px;

		@media (min-width: $md1) {
			@include adaptiv-value(font-size, 20, 15, 3);
			@include adaptiv-value(line-height, 23, 16, 3);
			@include adaptiv-value(letter-spacing, 3.3, 0.2, 3);
		}
		@media (max-width: $md4) {
			display: none;
		}
	}
	&__skills-dynamic {
		display: block; //для работы firstLetter
		font-weight: 500;
		margin-left: auto;
		padding: 20px 0px 0px 0px;
		&::first-letter {
			color: $navc1;
		}
		@media (max-width: $md4) {
			font-size: rem(22);
			
			letter-spacing: 3.3px;
			margin: 0;
			color: $tc2;
		}
		@media (max-width: $md6) {
			font-size: rem(18);
		}
		&:before {
			
			@media (max-width: $md4) {
				content: "";
				animation: profile 10s infinite;
			}
		}
	}

	&__popup-link {
		z-index: 15;
		@include adaptiv-value(font-size, 40, 22, 3);
		font-weight: 900;
		color: $navc1;
		text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
		transition: color 0.5s ease;
		@media (min-width: $md1) {
			padding-left: 3%;
		}
		&:hover {
			color: $tc1;
			text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
		}
		&:active {
			color: $tc1;
			transition: color 0s ease;
		}
	}

	&__arrDown {
		position: absolute;
		bottom: 0%;
		padding: 10px;
		margin: 0px 0px 0px -10px;
		&:hover * {
			stroke: $tc2;
			stroke-opacity: 1;
			transition: all 0.5s ease;
		}
		@media (min-width: $md1) {
			padding: 1% 1% 1% 3%;
		}
		@media (max-width: $md4) {
			display: none;
		}
		& svg line {
			transition: all 0.5s ease;
		}
	}
}

// ---------------------gellery sections

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	gap: 5px;
	&__item {
		position: relative;
		overflow: hidden;
		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all ease .5s;
		}
		&:hover img {
			transform: scale(1.05);
			transition: all ease .5s;
		}
	}
	@media (max-width: $md4) {
		gap: 0;
		&__title-work,
		&__title-happyness {
			order: 1;
		}
		&__title-rest,
		&__title-nature {
			order: 0;
		}
		&__item {
			min-height: 40vh;
			&:not(:nth-child(2)){
				display: none;
			}
			&:after {
				content: "";
				display: inline-block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 50px;
				height: 50px;
				background: url("../img/icons/plus-zoom.svg") no-repeat center;
				background-color: $bgc4;
				z-index: 5;
			}
		}
	}

	@media (min-width: $md4) {
		display: grid;
		grid-template-columns: repeat(6, minmax(50px, 1fr));
		grid-template-rows: repeat(3, minmax(240px, 1fr));
		gap: 5px;
		&__title-work {
			padding: 0px;
			grid-column: 2 / 4;
			grid-row: 1 / 2;
		}
		&__title-rest {
			grid-column: 1 / 3;
			grid-row: 1 / 2;
			padding: 0px;
		}
		&__title-happyness {
			grid-column: 4 / 5;
			grid-row: 1 / 4;
			padding: 0px;
		}
		&__title-nature {
			grid-column: 6 / 7;
			grid-row: 1 / 2;
			padding: 0px;
		}
		&__item {
			&_blue {
				grid-column: 1 / 2;
				grid-row: 1 / 4;
				& img {
					object-position: 60% center;
				}
			}

			&_lights {
				grid-column: 4 / 7;
				grid-row: 1 / 2;
				& img {
					object-position: top;
				}
			}

			&_camera {
				grid-column: 2 / 5;
				grid-row: 2 / 4;
			}

			&_cameramen {
				grid-column: 5 / 7;
				grid-row: 2 / 4;
				& img {
					object-position: center 20%;
				}
			}

			//-----rest section------

			&_concert {
				grid-column: 3 / 7;
				grid-row: 1 / 2;
				& img {
					object-position: center 60%;
				}
			}

			&_car {
				grid-column: 1 / 3;
				grid-row: 2 / 4;
				& img {
					object-position: center 20%;
				}
			}

			&_desert {
				grid-column: 3 / 4;
				grid-row: 2 / 4;
			}

			&_flight {
				grid-column: 4 / 7;
				grid-row: 2 / 4;
			}

			//-----happyness section------

			&_wife {
				grid-column: 1 / 4;
				grid-row: 1 / 2;
				& img {
					object-position: 60% 35%;
				}
			}

			&_child {
				grid-column: 5 / 7;
				grid-row: 1 / 4;
			}

			&_beach {
				grid-column: 1 / 4;
				grid-row: 2 / 3;
				& img {
					object-position: center 40%;
				}
			}

			&_wedding {
				grid-column: 1 / 4;
				grid-row: 3 / 4;
				& img {
					object-position: center 45%;
				}
			}

			//-----nature section------

			&_stones {
				grid-column: 1 / 2;
				grid-row: 1 / 4;
				& img {
					//object-position: 60% 35%;
				}
			}

			&_fealds {
				grid-column: 2 / 6;
				grid-row: 1 / 3;
				& img {
					object-position: center 20%;
				}
			}

			&_sharks {
				grid-column: 2 / 6;
				grid-row: 3 / 4;
				& img {
					object-position: center 40%;
				}
			}

			&_bird {
				grid-column: 6 / 7;
				grid-row: 2 / 4;
				& img {
					//object-position: center 45%;
				}
			}
		}
	}
}

.lg-actions,
.lg-next::after {
	content: "⮞" !important;
}
.lg-actions,
.lg-prev::after {
	content: "⮜" !important;
}

.lg-prev::before,
.lg-next::before {
	content: "" !important;
}

.lg-close:after {
	content: "✕" !important;
}
// ---------------------hero-bottom section
.hero-bottom {
	color: $tc3;

	&__content {
		display: flex;
		align-items: center;
		min-height: 80vh;
		background: url("../img/home/jakob-owens-hero-bottom.jpg") 20% top / cover no-repeat;
		box-shadow: inset 0px 20px 15px -15px $bgc3, inset 0px -20px 15px -15px $bgc3;
		@media (max-width: $md4) {
			min-height: 50vh;
		}
	}

	&__offer {
		text-align: right;
		max-width: 60%;
		margin-left: auto;
		padding: 20px 0px;
		@media (max-width: $md4) {
			max-width: 40%;
		}
		@media (max-width: $md5) {
			max-width: 50%;
		}
	}

	&__title {
		text-transform: uppercase;
		@include adaptiv-value(font-size, 32, 18, 3);
		line-height: 1em;
		@media (max-width: $md4) {
			padding: 5px 0;
		}
	}

	&__text {
		@include adaptiv-value(font-size, 28, 14, 3);
		line-height: 1em;
		font-weight: 400;
		letter-spacing: 0.25em;
		margin: 0px 0px 35px 0px;
		@media (min-width: $md4) {
			@include adaptiv-value(margin-right, -7, 0, 1);
		}
	}

	&__btn {
		border: rgba(0, 0, 0, 1) 1px solid;
		margin: 0px 0px 35px 0px;
		text-transform: uppercase;
		font-weight: 700;
		border-radius: 7px;
		&:hover{
			border: rgba(0, 0, 0, 0) 1px solid;
			
			background-color: $navc1;
			color: $tc2;
		}
		@media (max-width: $md4) {
			display: none;
		}
	}

	&__socials {
		margin: 0px -5px 0px 0px;
		@media (max-width: $md4) {
			//display: none;
		}
		& a {
			&._active_PC {
				transform: scale3d(1.05, 1.05, 1.05);
				transition: all 0.5s ease;
			}
		}
		& a svg path {
			fill: $tc3;
		}
	}

	&__adress {
		font-weight: 400;
		@include adaptiv-value(font-size, 24, 12, 3);
	}
}

.subscribe {
	&__text {
	}

	&__icon {
	}

	&__socials {
	}
}
.socials {
	&__insta {
	}

	&__facebook {
	}

	&__linkedin {
	}
}

//----------------------------------------------HOME---------------------------------------------
