//================================= HEADER ==================================================
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 17;
	font-weight: 400;

	&__container {
		@media (max-width: $md4) {
			position: fixed;
			left: 0;
			bottom: 0;
		}
	}

	&__container:before {
		content: "";
		opacity: 0;
		position: fixed;
		left: 0;
		width: 100%;
		height: 60px;
		background: rgba(0, 0, 0, 0.6);
		backdrop-filter: blur(30px);
		//border-bottom: 2px solid $tc1;
		@media (max-width: $md4) {
			display: block;
			top: auto;
			height: 50px;
			bottom: 0;
			opacity: 1;
			box-shadow: 0 -3px 5px 2px rgba(0, 0, 0, 0.3);
			backdrop-filter: blur(20px);
		}
	}

	&._scrolled .header__container:before {
		@media (min-width: $md4) {
			opacity: 1;
			top: 0;
			box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.3);
		}
	}

	&__content {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 60px;
		padding: 5px 0px;

		@media (max-width: $md4) {
			justify-content: space-evenly;
			height: 50px;
		}
	}

	&__item {
		@include adaptiv-value(font-size, 20, 16, 3);
		font-weight: 500;
		@media (max-width: $md4) {
			padding: 10px;
		}
		&:not(:last-child) {
			@include adaptiv-value(margin-right, 50, 15, 3);
			@media (max-width: $md4) {
				margin-right: 0px;
			}
		}
	}

	&__logo {
		display: flex;
		align-items: center;
		flex: 1 1 auto;
		margin: 0px 20px 0px 0px;
		@media (max-width: $md4) {
			display: none;
		}
	}

	&__subscribe {
	}

	&__popup-link {
	}

	&__menu {
	}
}

.logo {
	&__link {
		font-family: "Comforter";
		@include adaptiv-value(font-size, 34, 20, 3);
		text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
		transition: all 0.5s ease;
		&:hover {
			color: $tc2;
			transition: color 0.5s ease;
		}
	}
}

.subscribe {
	position: relative;
	cursor: pointer;
	@media (max-width: $md4) {
		order: 1;
	}
	&__text {
		opacity: 1;
		transition: all 0.5s ease;
		@media (max-width: $md4) {
			display: none;
		}
	}
	&__text._hide {
		opacity: 0;
		transition: all 0.5s ease;
		@media (max-width: $md4) {
			display: none;
		}
	}
	&__icon {
		display: none;
		@media (max-width: $md4) {
			display: block;
			order: 1;
		}
	}

	&__socials {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%);
		opacity: 0;
		visibility: hidden;
		transition: all 0.5s ease;
		@media (max-width: $md4) {
			top: 50px;
			transition: all 0.5s ease;
		}
		&._show {
			visibility: visible;
			opacity: 1;
			transition: all 0.5s ease;
			@media (max-width: $md4) {
				top: -50px;
				transition: all 0.5s ease;
			}
		}
	}
}

.socials {
// general styles in style.scss
}

._popup-link {
	@media (max-width: $md4) {
		order: 3;
	}
	&__text {
		transition: all 0.5s ease;
		&:hover {
			color: $tc2;
			transition: color 0.5s ease;
		}
		@media (max-width: $md4) {
			display: none;
		}
	}

	&__icon {
		display: none;
		@media (max-width: $md4) {
			display: block;
		}
	}
}

//burger styles in burger.scss
.menu {
	text-align: right;
	@media (max-width: $md4) {
		order: 2;
	}

	&__button {
		position: relative;
		border-radius: 7px;
		color: $tc2;
		border: 1px solid $borc1;
		transition: background 0.5s ease;
		@media (max-width: $md4) {
			border: none;
			z-index: 17;
		}
		&:not(._active) {
			background: $navc1;
			@media (max-width: $md4) {
				background: transparent;
			}
		}
		&:hover:not(._active) {
		}
		&._active {
			transition: all 0.5s ease;
		}
	}

	&__icon {
		//styles in burger.scss
	}

	&__text {
		line-height: 1rem;
		text-transform: uppercase;
		padding: 0px 15px 0px 0px;
		@media (max-width: $md4) {
			display: none;
		}
	}

	&__body {
		//styles in burger.scss
	}

	&__list {
		//styles in burger.scss
	}

	&__link {
		//styles in burger.scss
	}
}
