//================================= HEADER ==================================================
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font-weight: 400;
	z-index: 5;

	&._scrolled:before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.6);
		box-shadow: 0 -3px 5px 2px rgba(0, 0, 0, 0.3);
		backdrop-filter: blur(20px);
		@media (max-width: $md4) {
			display: none;
		}
	}

	&__container {
		display: flex;
		min-height: 60px;
	}

	&__content {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 0px;
		z-index: 1;
		@media (max-width: $md4) {
			position: fixed;
			left: 0;
			bottom: 0;
			justify-content: space-evenly;
			padding: 5px 0px;
			width: 100%;
			height: 50px;
			&:before {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				width: 100%;
				height: 100%;
				@media (max-width: $md4) {
					background: rgba(0, 0, 0, 0.6);
					box-shadow: 0 -3px 5px 2px rgba(0, 0, 0, 0.3);
					backdrop-filter: blur(20px);
				}
			}
		}
	}

	&__item {
		@include adaptiv-value(font-size, 20, 16, 3);
		font-weight: 500;
		z-index: 5;
		@media (max-width: $md4) {
			padding: 5px;
		}
		&:not(:last-child) {
			@include adaptiv-value(margin-right, 50, 15, 3);
			@media (max-width: $md4) {
				margin-right: 0px;
			}
		}
	}

	&__logo {
		display: flex;
		align-items: center;
		flex: 1 1 auto;
		margin: 0px 20px 0px 0px;
		@media (max-width: $md4) {
			justify-content: flex-end;
			z-index: 1;
		}
		& a {
			@media (any-hover: hover) {
				&:hover {
					color: $tc2;
					transform: scale(1.03);
					transition: 0.2s ease;
				}
			}
		}
	}
	&__subscribe {
		@media (max-width: $md4) {
			order: 1;
		}
	}
	&__popup-link {
		transition: 0.2s ease;
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.04);
				transition: 0.2s ease;
			}
		}
		@media (max-width: $md4) {
			order: 3;
		}
	}
	&__menu {
		@media (max-width: $md4) {
			order: 2;
		}
	}
}

.logo {
	&__link {
		font-family: "Comforter";
		@include adaptiv-value(font-size, 34, 20, 3);
		text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
		transition: all 0.2s ease;
	}
}

.subscribe {
	display: block;
	position: relative;
	cursor: pointer;
	&__body {
		@media (any-hover: hover), only screen and (orientation: landscape), only screen and (min-device-width: 768px)  {
			&:hover .subscribe__text {
				visibility: hidden;
				opacity: 0;
				transition: all 0.5s ease;
			}
			&:hover .subscribe__socials {
				visibility: visible;
				opacity: 1;
				transition: all 0.5s ease;
			}
		}
		
	}
	&__text {
		opacity: 1;
		visibility: visible;
		transition: all 0.5s ease;
		@media (max-width: $md4) {
			display: none;
		}
	}
	&__icon {
		display: none;
		
		@media (max-width: $md4) {
			display: block;
			height: 30px;
			padding: 0px 7px;
		}
		&._active:before {
			content: "";
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
			background-color: $bgc4;
			backdrop-filter: blur(1px);
		}
		& svg,
		path {
			transition: all 0.2s ease;
		}
		&._active svg {
			transform: scale3d(1.2, 1.2, 1.2);
			transition: all 0.2s ease;
		}
		&._active path {
			fill: $borc3;
			transition: fill 0.2s ease;
		}
	}

	&__socials {
		position: absolute;
		top: -13px;
		left: 50%;
		transform: translate(-50%);
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.2s ease, visibility 0.2s ease, top 0.2s linear 0.5s;
		&._show {
			opacity: 1;
			visibility: visible;
			top: -60px;
			pointer-events: visible;
			transition: opacity 0.2s ease, visibility 0.2s ease;
			background: $bgc6;
			border: 1px solid $bgc6;
			backdrop-filter: blur(10px);
			z-index: 101;
		}
	}
}

.socials {
	// general styles in style.scss
}

._popup-link {
	&__text {
		transition: all 0.5s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $tc2;
				transition: color 0.5s ease;
			}
		}
		@media (max-width: $md4) {
			display: none;
		}
	}

	&__icon {
		display: none;
		@media (max-width: $md4) {
			display: block;
			height: 25px;
			padding: 0px 7px;
			transition: all 0.2s ease;
		}
		& svg,
		path {
			transition: all 0.2s ease;
		}
		&._active {
			transform: scale3d(1.2, 1.2, 1.2);
			transition: all 0.2s ease;
		}
		&._active path {
			fill: $borc3;
			transition: fill 0.2s ease;
		}
	}
}

//burger styles in burger.scss
.menu {
	text-align: right;
	@media (max-width: $md4) {
		order: 2;
	}

	&__button {
		position: relative;
		color: $tc2;
		border: 1px solid $navc3;
		transition: all 0.3s ease;
		@media (max-width: $md4) {
			border: none;
		}
		&:not(._active) {
			background: $navc2;
			@media (max-width: $md4) {
				background: transparent;
			}
		}
		&._active {
			z-index: 17;
			pointer-events: auto !important;
			transition: all 0.3s ease;
		}
	}

	&__icon {
		//styles in burger.scss
	}

	&__text {
		text-transform: uppercase;
		padding: 0px 15px 0px 0px;
		@media (max-width: $md4) {
			display: none;
		}
	}

	&__body {
		//styles in burger.scss
	}

	&__list {
		//styles in burger.scss
	}

	&__link {
		//styles in burger.scss
	}
}
