//================================= HEADER ==================================================

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 17;
	font-weight: 400;

	&__container:before {
		content: "";
		opacity: 0;
		position: fixed;
		left: 0;
		width: 100%;
		height: 60px;
		background: rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(10px);

		@media (max-width: $md4) {
			display: block;
			top: auto;
			bottom: 0;
			opacity: 1;
			box-shadow: 0 -3px 5px 2px rgba(0, 0, 0, 0.3);
			backdrop-filter: blur(5px);
		}
	}

	&._scroll .header__container:before {
		@media (min-width: $md4) {
			opacity: 1;
			top: 0;
			box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.3);
		}
	}

	&__popups {
	}

	&__container {
		@media (max-width: $md4) {
			position: fixed;
			left: 0;
			bottom: 0;
		}
	}

	&__content {
		position: relative;
		display: flex;
		height: 60px;
		@media (max-width: $md4) {
			justify-content: space-between;
		}
	}

	&__logo {
		display: flex;
		flex: 1 0 auto;
		margin: 0px 10px 0px 0px;
		font-size: rem(16);
		font-weight: 500;
		letter-spacing: 0.1em;
		z-index: 15;
		@media (max-width: $md4) {
			display: none;
		}

	}
	&__link {
		display: flex;
		max-height: 60px;
		padding: 5px 0px;
		align-items: center;

		& img {
			height: 50px;
			border: 1px solid $tc3;
			border-radius: 7px;
			margin: 0px 10px 0px 0px;
			transition: all 0.5s ease;
		}
		&:hover img {
			border: 1px solid $tc1;
		}
		& p {
			color: $tc3;
			transition: all 0.5s ease;
		}
		&:hover p {
			color: $tc1;
			opacity: 1;
			transform: scale3d(1.05, 1.05, 1.05);
		}

	}



	&__menu {
		display: inline-block;
		position: relative;
		text-align: end;
	}

	&__popup-link {
		// styles in popup.scss
	}
}

.socials {
	display: flex;
	height: 100%;
	padding: 5px 0px;
	z-index: 15;
	@media (max-width: $md4) {
		margin: 0px 0px 0px -10px;
		order: 1;
	}
	& a {
		overflow: visible;
		transition: all 0.5s ease;
		&._active_PC {
			transform: scale3d(1.15, 1.15, 1.15);
			transition: all 0.5s ease;
		}
	}

	& a svg {
		box-sizing: content-box;
		padding: 10px;
	}

	& a svg path {
		transition: fill 0.5s ease, fill-opacity 0.5s ease;
	}

	& a._active_PC svg path {
		fill: $tc1;
		fill-opacity: 1;
		transition: all 0.5s ease;
	}
}

//burger styles in burger.scss
.menu {
	height: 100%;
	padding: 5px 0px;
	text-transform: uppercase;
	cursor: pointer;

	&__button {
		color: $tc1;
		display: flex;
		height: 100%;
		position: relative;
		align-items: center;
		z-index: 17;
		transition: all 0.5s ease;
		opacity: 0.7;

		&._active {
			opacity: 1;
		}
		@media (min-width: $md4) {
			&:hover {
				opacity: 1;
				transform: translateY(-2px);
				transition: color 0.5s ease, transform 0.5s ease, opacity 0.5s ease;
			}
			&._active {
				&:hover {
					opacity: 1;
					transform: translateY(-2px);
					transition: color 0.5s ease, transform 0.5s ease, opacity 0.5s ease;
				}
			}
		}
	}

	&__icon {
		//styles in burger.scss
	}

	&__body {
		//styles in burger.scss
	}

	&__list {
		&_header {
			//styles in burger.scss
		}
	}

	&__link {
		//styles in burger.scss
	}
}
