//--------------- ▼ ▼ ▼ preloader ▼ ▼ ▼ ------------------

.preloader {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 1);
	opacity: 1;
	z-index: 1000;
	&._preloader-hidden {
		display: none;
	}
	&._hide-preloader {
		animation: hidePreloader .5s;
		animation-delay: 1s;

	}
}

@keyframes hidePreloader {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.preloader__img {
	width: 70%;
	opacity: 1;
}

//--------------- ▲ ▲ ▲ preloader ▲ ▲ ▲ ------------------
