//--------------- ▼ ▼ ▼ preloader ▼ ▼ ▼ ------------------

.preloader {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 1);
	z-index: 1000;
	overflow: hidden;
	&._preloader-hidden {
		display: none;
	}
	&._hide-preloader {
		animation: hidePreloader 0.5s infinite;
		animation-delay: 0.5s;
	}
}

@keyframes hidePreloader {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.preloader__img {
	width: 70%;
	max-width: 500px;
	animation: hidePreloaderImg 4s infinite;
}

@keyframes hidePreloaderImg {
	0% {
		opacity: 0.4;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.4;
	}
}

// pace.js progress bar
.pace {
	position: absolute !important;
	height: 3px !important;
}

.pace-progress {
	//background: $progress-value-color;
	box-shadow: 0 0 10px lighten(rgba(120, 255, 255, 1), 2), 0 0 0.8em lighten(rgba(120, 255, 255, 1), 4);
	background: linear-gradient(90deg, rgba(0, 160, 255, .5) 70%, rgba(0, 160, 255, .75) 80%, rgba(0, 160, 255, 1) 95%, rgba(120, 255, 255, 1) 100%) !important;
}
//--------------- ▲ ▲ ▲ preloader ▲ ▲ ▲ ------------------
