//-------------------------------Классы заголовков------------------------------------

._page-title {
	display: inline-block;
	font-weight: 900;
	text-transform: uppercase;
	color: $tc4;
	padding: 3% 0px 0px 0px;
	@include adaptiv-value(font-size, 60, 20, 3);
	line-height: 1.5em;
	text-shadow: none;
	@media (max-width: $md4) {
		padding: 0;
		line-height: 2em;
	}
	& span {
		color: $tc1;
		@include adaptiv-value(font-size, 140, 60, 3);
		text-shadow: 2px 5px 1px $navc1, 4px 10px 1px $navc2;
		@media (max-width: $md4) {
			text-shadow: 2px 3px 1px $navc1, 4px 6px 1px $navc2;
		}
	}
}

.gallery__title {
	@include adaptiv-value(font-size, 24, 12, 3);
	@include adaptiv-value(line-height, 28, 18, 3);
	text-transform: uppercase;
	font-weight: 700;
	min-height: auto;
	align-self: center;
	justify-self: center;
	text-align: center;
	@media (max-width: $md4) {
		position: absolute;
		top: 10%;
		@include adaptiv-value("left", 90, 60, 1);
		line-height: 1.1;
		z-index: 6;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
	}
	& span {
		display: block;
		font-weight: 900;
		color: $tc2;
		text-align: center;
		@media (max-width: $md4) {
			font-size: rem(25);
		}
	}
}

.popup__title {
	font-size: 40px;
	line-height: 35px;
	margin: 0 0 92px 0;
	margin-bottom: 35px;
	font-weight: 700;
	color: $tc1;
}
