//-------------------------------Классы заголовков------------------------------------

._page-title {
	font-weight: 900;
	text-transform: uppercase;
	color: $tc1;
	font-size: rem(36);
	margin: 0px 0px 5px 0px;
	@media (min-width: $md1) {
		@include adaptiv-value(font-size, 36, 20, 3);
		@include adaptiv-value(line-height, 40, 30, 3);
	}
	@media (max-width: $md3) {
		line-height: 1.2em;
		margin: 0px 0px 35px 0px;
	}
	@media (max-width: $md4) {
		font-size: rem(30);
		

	}
}

._page-subtitle {
}

._section-title {
	@include adaptiv-value(font-size, 24, 12, 3);
	@include adaptiv-value(line-height, 28, 14, 3);
	@include adaptiv-value(padding, 130, 60, 3);
}

._section-subtitle {
	@include adaptiv-value(font-size, 40, 26, 1);
	@include adaptiv-value(line-height, 44, 28, 1);
	@include adaptiv-value(margin-bottom, 92, 50, 1);
}

._content-title {
	@include adaptiv-value(font-size, 25, 20, 1);
	@include adaptiv-value(line-height, 35, 28, 1);
}

._content-subtitle {
	@include adaptiv-value(font-size, 25, 20, 1);
	@include adaptiv-value(line-height, 35, 28, 1);
}

.popup__title {
	@include adaptiv-value(font-size, 40, 30, 1);
	@include adaptiv-value(line-height, 35, 28, 1);
	margin: 0px 0px 92px 0px;
	@include adaptiv-value(margin-bottom, 35, 20, 1);
}

//-------------------------------Классы размеров шрифтов------------------------------------

.font2023 {
	@include adaptiv-value(font-size, 20, 12, 3);
	@include adaptiv-value(line-height, 23, 16, 3);
}

.font2428 {
	@include adaptiv-value(font-size, 24, 14, 3);
	@include adaptiv-value(line-height, 28, 18, 3);
}

.font1619 {
	@include adaptiv-value(font-size, 16, 10, 3);
	@include adaptiv-value(line-height, 19, 15, 3);
}

//-------------------------------Классы размеров шрифтов------------------------------------
