//----------------------------------- INPUT (inp+tab) ---------------------------------

input {
	@include adaptiv-value(height, 50, 35, 3);
	
	border-radius: 10px;
	padding: 0px 10px;
	&:focus {
		outline: none;
	}
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: rgba(255, 255, 255, .20);
	caret-color : $navc1;
	&:focus {
		background-color: rgba(255, 255, 255, .4);
	}
	&._error {
		border-bottom: 2px solid red;
	}
}

input::placeholder {
	color: $tc2;
}

.inputs__item {
	width: 100%;
	position: relative;
	margin: 0px 0px 20px 0px;

	&:last-of-type {
		margin: 0px;
	}
	&._focus {
	}

}

.inputs__label {
	margin: 0px 0px 5px 0px;
}

.input {
	width: 100%;
	display: block;
	font-size: inherit;
	&._focus {
		color: $tc1;
	}
	&._error {
		//color: #ee1212;
	}
}

textarea {
	resize: none;
	padding: 10px;
	border-radius: 10px;
	width: 100%;
	min-height: 100px;
	max-height: 200px;
	@include adaptiv-value(font-size, 20, 14, 3);
}
